<!DOCTYPE html>
<html>
    <head>
        {%metas%}
        <title>{%title%}</title>
        {%favicon%}
        {%css%}
    </head>
    <body>
        <!--[if IE]><script>
        alert("Dash v2.7+ does not support Internet Explorer. Please use a newer browser.");
        </script><![endif]-->
        {%app_entry%}
        <footer>
            {%config%}
            {%scripts%}
            {%renderer%}
        </footer>
    </body>
</html>Div([H4('Animated GDP and population over decades'), P('Select an animation:'), RadioItems(options=['GDP - Scatter', 'Population - Bar'], value='GDP - Scatter', id='selection'), Loading(children=Graph(id='graph'), type='cube')])