
<!DOCTYPE html>
<html>
<head>
    <title>Interactive Dynamic Plot</title>
</head>
<body>
    <h1>Interactive Dynamic Plot</h1>
    VBox(children=(IntRangeSlider(value=(1914, 2012), description='Year Range:', max=2012, min=1914), Dropdown(description='Country:', index=1, options=('Korea', 'United States of America', 'Canada', 'United Kingdom', 'France', 'Germany', 'All 87 countries'), value='United States of America'), Dropdown(description='Genre:', index=20, options=('Drama', 'Comedy', 'Romance Film', 'Black-and-white', 'Thriller', 'Action', 'Indie', 'Crime Fiction', 'World cinema', 'Short Film', 'Silent film', 'Adventure', 'Action/Adventure', 'Horror', 'Family Film', 'Musical', 'Romantic drama', 'Documentary', 'Mystery', 'Comedy film', 'All genre'), value='All genre'), Output()))
</body>
</html>
